<div class='container'>
  <div class='modal' data-movieid='{{id}}'>
    <button class="modal-btn-close">
      <svg class="modal-icon-close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 8L22 22" stroke="black" stroke-width="2"/>
        <path d="M8 22L22 8" stroke="black" stroke-width="2"/>
      </svg>
    </button>
    <div class='modal-thumbnail'>
      <img class='modal-image' src='{{poster}}' alt='{{overview}}' />
    </div>
    <div class='modal-description'>
      <h2 class='modal-movie-title'>{{title}}</h2>
      <table class="stats">
      <tr class="stats-item">
        <td><span class="stats-name">Vote / Votes</span></td>
        <td><span class="rating__value">{{rating}}</span> / <span class="rating__votes-total">{{votes}}</span></td>
      </tr>
      <tr class="stats-item">
        <td><span class="stats-name">Popularity</span></td>
        <td>{{popularity}}</td>
      </tr>
      <tr class="stats-item">
        <td><span class="stats-name">Original Title</span></td>
        <td>{{original_title}}</td>
      </tr>
      <tr class="stats-item">
        <td><span class="stats-name">Genre</span></td>
        <td>{{genres}}</td>
      </tr>
      </table>
      <h4 class="modal-movie-description-title">About</h3>
      <p class='modal-movie-description'>{{overview}}</p>
      <div class="modal-buttons">
        <button class="modal-btn" data-add-to-watched>Add to Watched</button>
        <button class="modal-btn" data-add-to-queue>Add to Queue</button>
      </div>
    </div>
  </div>
</div>