<li class='movie-item'>
  <a href='{{id}}' data-type='{{media_type}}' class='movie-link'>
    <img src='{{poster}}' alt='{{overview}}' class='movie-image' />
    <div class='movie-info'>
      <p class='movie-title'>{{title}}</p>
      <p class='movie-description'>{{genres}} | {{release_date}}</p>
    </div>
  </a>
</li>